# Virtual environment
venv/

# API Keys - NEVER push this
.env

# Python cache
__pycache__/
*.pyc
*.pyo

# ChromaDB local storage
chroma_db/

# Mac system files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

venv/
.env
uploads/
vector_db/
__pycache__/
*.pyc
.DS_Store
